/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  line-height: 30px;
  font-family: 'Figtree', sans-serif;
  font-size: 20px;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}


/* custom styles */

.main-header, 
.hero, 
.company-wrapper, 
.about, 
.footer-main-wrapper, 
.footer-secondary-wrapper, 
.service-wrapper,
.service-agente-consignatario__wrapper,
.service-agencia-aduanal__wrapper,
.service-maniobras__wrapper,
.service-agente-consignatario__wrapper,
.other-services-wrapper {
  max-width: 1619px;
  margin: 0 auto;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 64px 0;
}

.main-header .main-nav ul {
  margin: 0;
  padding: 0;
}

.main-header .main-nav ul li {
  margin-right: 56px;
}

.main-header .main-nav ul li:last-child {
  margin-right: 0;
}

.main-nav ul li {
  display: inline-block;
  & a.active {
    border-bottom: 2px solid #F5333F;
  }
}

.main-nav ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: #313131;
}

.company-wrapper, .company-info-wrapper, .about, .service-list {
  display: flex;
}

.company-info-wrapper {
  flex-direction: column;
}

/* hero section */

.slider {
  margin: 8px 0 82px;
}

.slider__control {
  & button {
    height: 80px;
    width: 80px;
    border: none;
    margin: 0;
  }
  & .slider__control-backward {
    background: #EFEDEA;
  }
  & .slider__control-forward {
    background: #696158;
    margin-left: -6px;
  }
  position: absolute;
  left: 61px;
  bottom: -40px;
}

.slider-wrapper {
  width: 84%;
  background: url(../img/slider-img-1.jpg) no-repeat center center;
  min-height: 560px;
  position: relative;
}

.slider__title-wrapper {
  width: 62%;
  min-height: 322px;
  background: rgba(105, 97, 88, 0.40);
  backdrop-filter: blur(8px);
  position: absolute;
  right: -259px;
  top: 74px;
  padding: 91px 0 0 46px;
}

.slider__title {
  font-size: 56px;
  color: #FFF;
  line-height: 72px;
  font-weight: 700;
  margin: 0;
}



/* image card */

.about > * {
  flex: 1;
}

.image-card {
  padding: 56px 64px;
  & h3 {
    font-size: 30px;
  }
  & p {
    font-size: 24px;
  }
}

/* other services section */

.service-list {
  justify-content: space-between;
  gap: 32px;
}


/* service card */

.service-card {
  width: 25%;
  & hr {
    max-width: 80%;
  }
  & img {
    width: 100%;
  }
}


/* footer */

.main-footer {
  color: #fff;
  font-size: 14px;
  line-height: 16px;

  & h4 {
    font-size: 18px;
  }
  & ul {
    padding: 0;
    & li {
      list-style-type: none;
      margin-bottom: 8px;
    }
    & li:last-child {
      margin-bottom: 0;
    }
  }

}

.footer-main {
  background: #686058;
  padding: 80px 0;
  & a {
    color: #fff;
    text-decoration: none;
  }
}

.footer-main-wrapper {
  display: flex;
  justify-content: space-between;
  & .footer-logo {
    margin-bottom: 32px;
  }
}

.footer-left {
  max-width: 285px;
}

.footer-right {
  display: flex;
  gap: 32px;
}

.footer-right > * {
  flex: 1;
  width: 300px;
}

.footer-secondary {
  background: #4E4C4A;
  text-align: center;
  padding: 24px 0;
  & p {
    margin: 0;
  }
}

.facebook-logo {
  margin-right: 24px;
}

/* services list section */

.service-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}
  
.col-service-title { grid-area: 1 / 1 / 3 / 2; }
.col-service-1 { grid-area: 1 / 2 / 2 / 3; }
.col-service-2 { grid-area: 1 / 3 / 2 / 4; }
.col-service-3 { grid-area: 2 / 2 / 3 / 3; }
.col-service-4 { grid-area: 2 / 3 / 3 / 4; } 

/* services sections */

.service-agente-consignatario__wrapper, 
.service-agencia-aduanal__wrapper,
.service-maniobras__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}
.col-info-text-vertical { grid-area: 1 / 1 / 3 / 2; }
.col-img-single-top { grid-area: 1 / 2 / 2 / 3; }
.col-img-single-bottom { grid-area: 2 / 2 / 3 / 3; }
.col-img-vertical { grid-area: 1 / 3 / 3 / 4; } 

/* helper classes */

.grey-bg {
  background: rgba(217, 217, 217, 0.20);
}

.heading-font-size {
  font-size: 45px
}

.subtitle-font-size {
  font-size: 25px;
}

.text-align-center {
  text-align: center;
}

.burgundy-text-color {
  color: #96262C;
}